@{
    List<Everglades.Models.Advice> hedging_advice = Model.getHedgingAdvice();
}

<!-- buttons for update and simulate -->
<div id="big_buttons">
    last update :
    <br />
    <span id="update_date">@DateTime.Now.ToString("h:mm:ss tt")</span>
    <br />
    <a id="update-button" href="/"><span class="glyphicon glyphicon-refresh"></span></a>
    <br/><br/>
    Run a simulation
    <br />
    <button id="simulate-button"><span class="glyphicon glyphicon-circle-arrow-right"></span></button>
</div>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Everglades</h1>
        <h3>Structured Product Hedging Management</h3>
        <br/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <table id="table_main" class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Shares</td>
                                <td>@Model.shares_everg.ToString("F")</td>
                            </tr>
                            <tr>
                                <td>Hedging Portfolio Value</td>
                                <td>@Model.Hedging_Portfolio.getPrice().ToString("F")</td>
                            </tr>
                            <tr>
                                <td>Product Value</td>
                                <td>@Model.everg.getPrice().ToString("F")</td>
                            </tr>
                            <tr>
                                <td>P&L</td>
                                <td>@Model.getPnL().ToString("F")</td>
                            </tr>
                            <tr>
                                <td>Cash</td>
                                <td>@Model.cash.ToString("F")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4">
                    <div id="graph" class="graph"></div>
                </div>
                <div class="col-sm-3">
                    <div id="donut"></div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        @if (hedging_advice.Count == 0)
        {
            <button type="button" class="btn btn-default advice-button">Hedging Advices</button>
        }
        else
        {
            <button type="button" class="btn btn-warning wobble wobble-wobbling advice-button">Hedging Advices</button>
        }
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Equities</h2>
                    <div id="equities">
                        <table id="table_equities" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Asset</th>
                                    <th>Price</th>
                                    <th>Buy</th>
                                    <th>Sell</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Everglades.Models.IAsset a in Model.Assets)
                                {
                                    <tr>
                                        <td class="asset-clickable" asset="@a.getName()">@a.getName()</td>
                                        <td>@a.getPrice().ToString("F") @a.getCurrency().getSymbol()</td>
                                        <td>
                                            <button class="buybutton btn btn-default btn-xs" asset="@a.getName()" type="button">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </td>
                                        <td>
                                            <button class="sellbutton btn btn-default btn-xs" asset="@a.getName()" type="button">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-sm-4">
                    <h2>Derivatives</h2>
                    <div id="derivatives">
                        <table id="table_derivatives" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Derivative</th>
                                    <th>Buy</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Everglades.Models.IDerivative a in Model.derivatives)
                                {
                                    <tr>
                                        <td>@a.getType()</td>
                                        <td>
                                            <button class="buyderivativebutton btn btn-default btn-xs" derivative="@a.getType()" type="button">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-sm-4">
                    <h2>Hedging Portfolio</h2>
                    <div id="hedging_portfolio">
                        <table id="table_hedgeportfolio" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Asset</th>
                                    <th>Price</th>
                                    <th>Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (KeyValuePair<Everglades.Models.IAsset, double> entry in Model.Hedging_Portfolio.assetList)
                                {
                                    if (entry.Value != 0)
                                    {
                                        <tr>
                                            <td class="asset-clickable" asset="@entry.Key.getName()">@entry.Key.getName()</td>
                                            <td>@entry.Key.getPrice().ToString("F") @entry.Key.getCurrency().getSymbol()</td>
                                            <td>@entry.Value</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <h2>Operations history</h2>
                <div id="operations_history">
                    <table id="table_closedpositions" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Operation</th>
                                <th>Asset</th>
                                <th>Number</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Everglades.Models.Operation.Operation a in Model.Operations_History)
                            {
                                <tr>
                                    <td>@a.getDate().ToShortDateString()</td>
                                    <td>@a.getOperation()</td>
                                    <td class="asset-clickable" asset="@a.getAsset().getName()">@a.getAsset().getName()</td>
                                    <td>@a.getNumber()</td>
                                    <td>@a.getPrice().ToString("F") @a.getAsset().getCurrency().getSymbol()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    <div class="asset-window">
        <div id="asset-graph" class="graph"></div>
        <button type="button" class="close-button btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>

    <div class="simulation-window">
        <div id="simulation-graph-prices" class="mini-graph"></div>
        <div id="simulation-graph-trackingerror" class="mini-graph"></div>
        <div id="simulation-graph-cash" class="mini-graph"></div>
        <button type="button" class="close-button btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>

    <div class="derivative-window">
        <form id="derivative-form">
        </form>
        <button type="button" class="close-button btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>

    <div id="tooltip"></div>

    <div class="advice-window">
        @if (hedging_advice.Count == 0)
        {
            <span>The hedge seems good</span>
        }
        else
        {
            <table id="table_closedpositions" class="table table-hover">
                <thead>
                    <tr>
                        <th>total sensibility</th>
                        <th>Relative to</th>
                        <th>Advice</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Everglades.Models.Advice adv in hedging_advice)
                    {
                        <tr>
                            <td>@adv.sensibility</td>
                            <td class="asset-clickable" asset="@adv.relative_to">@adv.relative_to</td>
                            <td>@adv.advice</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <button type="button" class="close-button btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</header>
<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>The team</h1>
                <table id="table_team" class="table">
                    <tbody>
                        <tr>
                            <td><img class="profile-img" src="~/Content/img/bonkoskk.jpg"></td>
                            <td><img class="profile-img" src="~/Content/img/francest.jpg"></td>
                            <td><img class="profile-img" src="~/Content/img/josib.jpg"></td>
                            <td><img class="profile-img" src="~/Content/img/lom.jpg"></td>
                            <td><img class="profile-img" src="~/Content/img/randont.jpg"></td>
                            <td><img class="profile-img" src="~/Content/img/xuxin.jpg"></td>
                        </tr>
                    </tbody>
                </table>
                <img class="profile-img" src="~/Content/img/taram.jpg">

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Map -->
<section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2811.6890462944075!2d5.7661111159208245!3d45.19339047909879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af5a7a840ceb7%3A0x56b8d2dc6bcdecf5!2sEnsimag!5e0!3m2!1sfr!2sfr!4v1449598566767"></iframe>
    <br />
    <small>
        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2811.6890462944075!2d5.7661111159208245!3d45.19339047909879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af5a7a840ceb7%3A0x56b8d2dc6bcdecf5!2sEnsimag!5e0!3m2!1sfr!2sfr!4v1449598566767"></a>
    </small>
    </iframe>
</section>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4>
                    <strong>Structured product management interface</strong>
                </h4>
                <p>Ensimag "PEPS" project</p>
                <hr class="small">
                <p>Bonkoski Kevin, Francesiaz Theo, Josi Baptiste, Lo Mouhamadou Bamba, Randon Theophile, XU Xinrui
                </p>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Team 5</p>
            </div>
        </div>
    </div>
</footer>

<script>
    var data_graph_hedge = @Model.getHedgeForOne(DateTime.Now - TimeSpan.FromDays(60), DateTime.Now, TimeSpan.FromDays(2)).ToString();
    var label_graph_hedge = "hedge";
    var data_graph_product = @Model.everg.getPrice(DateTime.Now - TimeSpan.FromDays(60), DateTime.Now, TimeSpan.FromDays(2)).ToString();
    var label_graph_product = "product";
    var data_donut = @Html.Raw(Model.Hedging_Portfolio.portfolioComposition());


    /*
    var series = Math.floor(Math.random() * 6) + 3;
    for (var i = 0; i < series; i++) {
        data_donut[i] = {
            label: "Series" + (i + 1),
            data: Math.floor(Math.random() * 100) + 1
        }
    }
    */

</script>